<div id="wrapper">
  <%= render 'layouts/sidebar' %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="btn btn-default" id="menu-toggle">Menu</div>
        </div>
        <div class="main-content">
          <div class="col-md-3 profile-outer">
            <%= image_tag 'profile.jpg', class: 'profile' %>
            <p class="name">Chanel Preston</p>
            <p class="name">13 Events</p>
            <p class="name">24 Followers</p>
          </div>
        </div>
        <div class="col-md-7 event-list">
          <h2>Editing My Event</h2>
					<%= render 'events/form' %>
        </div>
      </div>
      
    </div>
  </div>
</div>