<%= render 'layouts/header' %>
<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>This is <strong>YOUR</strong> Bucket List</h1>
        <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa. Ball tip pork jowl filet mignon pork loin pork belly. Strip steak kevin salami meatball landjaeger picanha short loin bresaola. Landjaeger filet mignon corned beef, shankle drumstick ball tip jerky beef alcatra pork belly hamburger capicola pancetta brisket. Pork chop frankfurter porchetta corned beef ball tip sausage bresaola tenderloin turducken venison chuck pork belly swine meatloaf short loin. Biltong tail frankfurter, ham hock boudin flank sirloin beef ribs capicola. Pork pork chop drumstick capicola venison salami biltong bacon boudin tongue picanha frankfurter.</p>
        <a class="btn btn-lg btn-info page-scroll" href="#about">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- About Section -->
<section id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>About Section</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="about-img">
          <%= image_tag 'about-1.jpg' %>
        </div>
        <div class="about-caption">
          <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-img">
          <%= image_tag 'about-2.jpg' %>
        </div>
        <div class="about-caption">
          <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-img">
          <%= image_tag 'about-3.jpg' %>
        </div>
        <div class="about-caption">
          <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section -->
<section id="services" class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Features Section</h1>
        <div class="well">
          <div class="row">
            <div class="col-md-2">
              <h3>Test</h3>
            </div>
            <div class="col-md-10">
              <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa. Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <h3>Test</h3>
            </div>
            <div class="col-md-10">
              <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa. Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <h3>Test</h3>
            </div>
            <div class="col-md-10">
              <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa. Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <h3>Test</h3>
            </div>
            <div class="col-md-10">
              <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa. Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <h3>Test</h3>
            </div>
            <div class="col-md-10">
              <p>Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa. Bacon ipsum dolor amet chicken leberkas cow, picanha bresaola ball tip boudin ham hock brisket filet mignon frankfurter kielbasa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section -->
<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Sign Up</h1>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email Address</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-lg btn-success">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>