// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table,tr,td{
  border: 3px solid black;
  border-collapse: collapse;
  background-color: beige;
  padding: 8px;
}




