// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page {
	padding-top: 120px;
}

.login-form-group {
	padding-top: 20px;
	padding-bottom: 20px;
}

.login-form-control {
	padding: 20px;
}